<div class="ui-g">
<div class={{getUiClassName(tabSize)}}>

  <div style="text-align: left">

    <h3>
      {{getBaseUrl()}}
      <i class="pi pi-bars" (click)="openMenu()"></i>
      <i class="pi pi-refresh" (click)="openScanMenu()"></i>
      <i class="pi pi-arrow-left" (click)="updateTabSize(-1)"></i>
      <i class="pi pi-arrow-right" (click)="updateTabSize(1)"></i>
      <i class="pi pi-trash" (click)="clean()"> </i>

    </h3>
  </div>

  <app-url-list (urlChanged)="urlChange($event)"></app-url-list>
</div>
<div class={{getUiClassName(12-tabSize)}}>
  <app-url-detail ></app-url-detail>
</div>
</div>

<app-main-menu [visible]="menuView" (onHide)="menuView=false" (logout)="logout()" (refresh)="refresh()"></app-main-menu>
<app-scan-menu [visible]="scanMenuView" (onHide)="scanMenuView=false" (refresh)="refresh()"></app-scan-menu>

